/* Estilos para el footer */


.footer-container {
    display: flex;
    justify-content: space-between;
    
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    margin-bottom: 10px;
    color: #720303;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ffd700;
}

.footer-section p{
    color: #fff;
}

